h2 {margin-top:25px}
h3 {margin-top:30px; font-weight:bold}
h5 {color: red;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 30px;
  text-indent: 8px;
  border-left: 3px solid red;
  text-transform: uppercase;
}
blockquote {color:violet; border-left: 4px solid violet;}
